.result-container {
    border: 3px solid var(--borderColor);
    border-radius: 10px;
    width: 100%;
    min-width: 315px;
}

.inner-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--borderColor);
    padding: 5px;
}