.result-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--borderColor);
    border-radius: 10px;
    width: 300px;
    min-height: 300px;
    margin: 10px;
}

.green {
    color: green;
    font-size: 100px;
}

.orange {
    color: orange;
    font-size: 100px;
}

.red {
    color: red;
    font-size: 100px;
}

.under-construction {
    width: 50%;
}