.article-recipe {
    border-radius: 10px;
    background-color: rgba(130, 117, 112, 0.5);;
    width: 350px;
    margin: 20px;
    padding: 8px 8px 8px;
}

.article-image {
    max-width: 100%;
}

.article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}