.active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #827570;
    width: 250px;
    height: 50px;
    margin: 0 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.ul-container{
    min-width: 100%;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
}

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul li Button {
    border: transparent;
    cursor: pointer;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.navbar.active {
    background: linear-gradient(0deg, rgba(73,73,73,0.969625350140056) 0%, rgba(34,34,34,1) 99%);
}




