@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kameron&display=swap');

/*--------------------------------------1. Global Styles ---------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --borderColor: #827570;
}

/*--------------------------------------2. Typography ------------------------------------------------------*/
* {
    font-family: 'Kalam', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
}

input, textarea {
    text-transform: none;
    font-size: 24px;
    width: 70%;
    min-width: 240px;
}

input {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--borderColor);
    height: 50px;
}

a, button, .short-text, .full-text {
    font-family: 'Kameron', serif;
    font-size: 24px;
}

section h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

.form-error {
    color: red;
}

/*--------------------------------------3. Layout ----------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px;
    padding: 50px;
    gap: 30px;
    border-radius: 10px;
    border: 3px solid var(--borderColor);
    background-color: rgba(34, 34, 34, 0.80);
}

body {
    background-image: url("./assets/images/backgroundFilter.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}


/*--------------------------------------4. media query -----------------------------------------------------------*/
.short-text { display: none; }

@media screen and (max-width: 1260px) {
    nav button, nav a, nav li, .short-text, .full-text {
        font-size: 16px;
        max-width: 150px;
    }

    nav ul {
        width: 1000px;
    }

    .short-text { display: inline-block; }
    .full-text { display: none; }

    p, section li {
        font-size: 14px;
    }
}

@media screen and (max-width: 1035px) {

    nav ul {
        width: 800px;
    }

    .change-data a {
        font-size: 18px;
    }
}

@media screen and (max-width: 825px) {
    nav button, nav a, nav li, .short-text, .full-text  {
        font-size: 12px;
        max-width: 120px;
    }

    nav ul {
        width: 600px;
    }

    h1, section h1  {
        font-size: 30px;
    }

    p, section li {
        font-size: 12px;
    }

    h3 {
        font-size: 20px;
    }

    .change-data a {
        font-size: 14px;
    }
}


@media screen and (max-width: 625px) {
    nav button, nav a, nav li {
        font-size: 9px;
        max-width: 93px;


    }

    nav ul {
        width: 450px;
    }

    .inner-container {
        margin: 0 10px;
    }

    h3 {
        font-size: 16px;
    }

    .logo-container {
        width: 0;
    }
}