@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kameron&display=swap');

/*--------------------------------------1. Global Styles ---------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --borderColor: #827570;
}
/*--------------------------------------2. Typography ------------------------------------------------------*/
*{
    font-family: 'Kalam', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
}

a, button {
    font-family: 'Kameron', serif;
    font-size: 24px;
}

section h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}


/*--------------------------------------3. Layout ----------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px;
    gap: 30px;
    border-radius: 10px;
    border: 3px solid var(--borderColor);
}

.background-image {
    background-image: url("./assets/images/background.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    position: relative;
    /*position: fixed;
    height: 100vh;
    min-width: 100%;
    background-position: center;*/
}

/*.background-overlay {
    position: absolute;
}

.background-image::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #131313;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}*/

.logo-container {
    display: flex;
    max-width: 120px;
    flex-wrap: wrap;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.logo-container img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*--------------------------------------4. Areas -----------------------------------------------------------*/

/*------- 4.1 area 1 ---------------------------------------------------------------------------------------*/


