.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}